
@media only screen and (min-width: 992px){

p {
    font-size: 130%;
    background-color: gray;
    
  }
p.chicken{
  background-color: pink;
}

#beef{
  background-color: red;
  color: white; 
}

#sushi{
  background-color: #e9e690;
}

p.chicken, p#beef, p#sushi{
  border: 3px solid black;
  border-top: 1px;
  border-right: 1px;
  width: 100px;
  margin: -3px -3px 0px 0px; 
  float: right;
}

div{
  border: 3px solid black;
  padding: 2px;
  background-color: grey;
  margin: 20px;
}


}
  